<br>
<div class="container-fluid container">
    <h1 class="display-4 bg-white p-2">Editing Word</h1>
    <div class="jumbotron">
        <%= render 'form', word: @word %>
        <br>
        <%= link_to 'Show', @word, class:"btn btn-primary" %> |
        <%= link_to 'Back', words_path, class:"btn btn-primary" %>
    </div>
</div>

<% 10.times do |a| %>
    <br>
<% end %>