<h1>New Word</h1>

<div class="container-fluid container">
    <div class="jumbotron">
        <%= render 'form', word: @word %>
        <br>
        <%= link_to 'Back', words_path, class:"btn btn-primary" %>
    </div>
</div>
<% 10.times do |e| %>
    <br>
<% end %>

<% if !notice.nil? %>
    <% alreadyExist = notice.include?("already") %>
    <% colorMsg = "" %>
    <% if alreadyExist %>
        <% colorMsg = 'error' %>
    <% else %>
        <% colorMsg = 'success' %>
    <% end %>
        <script>
            new Noty({
                    theme: 'nest',
                    type: '<%= colorMsg %>',
                    layout: 'topRight',
                    text: '<%= notice %>'
            }).show();
        </script>
<% end %>