<br>
<footer id="myFooter">
    <div class="social-networks">
        <%= link_to url_for("https://github.com/devlucasrocha/Hangman_Game"), class:"github", target:"blank" do %>
        <i class="fa fa-github" style="font-size: 190%;"></i>
        <% end %>
    </div>
    <div class="footer-copyright">
        <%= link_to url_for("https://github.com/devlucasrocha"), target:"blank" do %>
            <p style="padding: 5px">© 2019 github.com/devlucasrocha</p>
        <% end %>
    </div>
</footer>