<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<br>
<footer id="myFooter">
    <div class="social-networks">
        <%= link_to url_for("https://github.com/devlucasrocha/Hangman_Game"), class:"github" do %>
        <i class="fa fa-github" style="font-size: 190%;"></i>
        <% end %>
    </div>
    <div class="footer-copyright">
        <%= link_to url_for("https://github.com/devlucasrocha") do %>
            <p>© 2019 github.com/devlucasrocha</p>
        <% end %>
    </div>
</footer>